body{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

.flexxer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  margin: 0;
  width: fit-content;
  justify-self: center;
  padding: 10px 50px;
  border-radius: 16px;
}

.titelVanHetEindproject {
  font-size: 50px;
  margin: 0;
}

.kleineTextOnderDeTitelVanHetEindproject,
.kleineTextBovenDeTitelVanHetEindproject {
  font-size: 7px;
  margin: 0;
}

.gridlock {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
}

.uitlegTextVanHetEindproject {
  font-size: 20px;
  width: 410px;
  justify-self: center;
  text-align: center;
}
